
/* General layout for all pages */

html {
  font-size: 100%;
}

body {
  height: 100%;
  width: 1170px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #CCC;
}


.container
{
  box-shadow: 0 0 8px #CCC;
}


.content {
  padding-top: 50px;
  position: absolute;
  width: 80%;
  margin-left: 10%;
  height: auto;
}


.header {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  right:0;
  left:0;
  font-size: 30px;
  margin-bottom: 0;
  color: #CCCCCC;
  background-color: #BB1010;
  background-image: linear-gradient(to bottom, #BB1010, #282828);
  background-image: -ms-linear-gradient(top, #BB1010, #282828);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#BB1010), to(#282828));
  background-image: -webkit-linear-gradient(top, #BB1010, #282828);
  background-image: -o-linear-gradient(top, #BB1010, #282828);
  background-image: -moz-linear-gradient(top, #BB1010, #282828);
  background-repeat: repeat-x;
  z-index: 100;
}

.header > span {
  vertical-align: middle;
}
.logo {
  margin-left: 10px;
}

body {
  /* background by Atle Mo and Lea Verou */
  /* http://lea.verou.me/css3patterns/#carbon-fibre */
  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;

  background:
    -moz-radial-gradient(black 15%, transparent 16%) 0 0,
    -moz-radial-gradient(black 15%, transparent 16%) 8px 8px,
    -moz-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    -moz-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;

#botaologin{
  cursor: pointer;
  position: relative;
  float: right;
  margin-right: 10px;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
}
  background:
    -o-radial-gradient(black 15%, transparent 16%) 0 0,
    -o-radial-gradient(black 15%, transparent 16%) 8px 8px,
    -o-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    -o-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;

  background:
    -webkit-radial-gradient(black 15%, transparent 16%) 0 0,
    -webkit-radial-gradient(black 15%, transparent 16%) 8px 8px,
    -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;

  background:
    -ms-radial-gradient(black 15%, transparent 16%) 0 0,
    -ms-radial-gradient(black 15%, transparent 16%) 8px 8px,
    -ms-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    -ms-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;

  background-color:#282828;
  background-size:16px 16px;
}



a:visited {
  color: #D00;
}

a:link {
  color: #CCC;
}

/* parte importada do projeto de login com twitter-bootstrap */

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f2f9fe;
  background: -moz-radial-gradient(center, ellipse cover, #f2f9fe 0%, #d6f0fd 100%);
/* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f2f9fe), color-stop(100%, #d6f0fd));
/* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #f2f9fe 0%, #d6f0fd 100%);
/* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #f2f9fe 0%, #d6f0fd 100%);
/* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #f2f9fe 0%, #d6f0fd 100%);
/* IE10+ */
  background: radial-gradient(center, ellipse cover, #f2f9fe 0%, #d6f0fd 100%);
/* W3C */
}
#login-container {
  width: 340px;
  margin: 160px auto;
}
#login-container label {
  margin: 15px 0 5px 5px;
}
#login-container button {
  width: 150px;
  padding: 6px 40px 6px 40px;
  float: left;
  margin-top: 15px;
}
#login-container .checkbox {
  margin: 23px 0 0 180px;
}
#login-container .btm-links {
  text-align: center;
  margin-top: 10px;
}
#login-container #create-account {
  float: right;
  margin-right: 13px;
}
#login-container #forgot-password {
  float: left;
  margin-left: 10px;
}
#account-form-container {
  width: 460px;
  margin: 100px auto;
}
#country-list {
  width: 280px;
}
.modal-form-errors li {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
  color: #d8000c;
}
.modal-single-input {
  width: 452px;
  margin: -200px 0 0 -232px;
}
.modal-single-input form {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
  margin-bottom: 0;
}
.modal-single-input form button {
  width: 80px;
  top: 213px;
  position: absolute;
}
.modal-single-input form #cancel {
  right: 110px;
}
.modal-single-input form #submit {
  right: 18px;
}
.modal-single-input .modal-body {
  height: 140px;
  overflow: hidden;
  padding-bottom: 0;
}
.modal-single-input .modal-footer {
  height: 20px;
}
.modal-alert {
  width: 310px;
  margin: -200px 0 0 -150px;
}
#btn-logout {
  width: 100px;
  top: 1px;
  right: 8px;
  position: absolute;
}
#print {
  padding: 20px;
}
#four04 {
  padding: 20px;
}
.clear-fix {
  clear: both;
}
.well {
  margin-left: 0;
  border: 1px solid #ccc;
}
.form-horizontal .control-label {
  width: 80px;
}
.form-horizontal .controls {
  margin-left: 120px;
}
.form-horizontal .form-actions {
  padding: 17px 0 0 270px;
}
label {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
}
.subheading {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
  margin-top: 3px;
}
button i {
  padding-left: 8px;
}

