
/* General layout for all pages */

html {
  font-size: 100%;
}

body {
  height: 100%;
  width: 1170px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #CCC;
}


.container
{
  box-shadow: 0 0 8px #CCC;
}


.content {
  padding-top: 50px;
  position: absolute;
  width: 80%;
  margin-left: 10%;
  height: auto;
}


.header {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  right:0;
  left:0;
  font-size: 30px;
  margin-bottom: 0;
  color: #CCCCCC;
  background-color: #BB1010;
  background-image: linear-gradient(to bottom, #BB1010, #282828);
  background-image: -ms-linear-gradient(top, #BB1010, #282828);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#BB1010), to(#282828));
  background-image: -webkit-linear-gradient(top, #BB1010, #282828);
  background-image: -o-linear-gradient(top, #BB1010, #282828);
  background-image: -moz-linear-gradient(top, #BB1010, #282828);
  background-repeat: repeat-x;
  z-index: 100;
}

.header > span {
  vertical-align: middle;
}
.logo {
  margin-left: 10px;
}

body {
  /* background by Atle Mo and Lea Verou */
  /* http://lea.verou.me/css3patterns/#carbon-fibre */
  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;

  background:
    -moz-radial-gradient(black 15%, transparent 16%) 0 0,
    -moz-radial-gradient(black 15%, transparent 16%) 8px 8px,
    -moz-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    -moz-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;

  background:
    -o-radial-gradient(black 15%, transparent 16%) 0 0,
    -o-radial-gradient(black 15%, transparent 16%) 8px 8px,
    -o-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    -o-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;

  background:
    -webkit-radial-gradient(black 15%, transparent 16%) 0 0,
    -webkit-radial-gradient(black 15%, transparent 16%) 8px 8px,
    -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;

  background:
    -ms-radial-gradient(black 15%, transparent 16%) 0 0,
    -ms-radial-gradient(black 15%, transparent 16%) 8px 8px,
    -ms-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    -ms-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;

  background-color:#282828;
  background-size:16px 16px;
}



a:visited {
  color: #D00;
}

a:link {
  color: #CCC;
}
