html {
  font-size: 100%;

}

body {
  height: 100%;
  width: 1170px;
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header{
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  right:0;
  left:0;

  margin-bottom: 0;
  background-color: brown;
  /*background-image: -moz-linear-gradient(top, #222, #111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222), to(#111));
  background-image: -webkit-linear-gradient(top, #222, #111);
  background-image: -o-linear-gradient(top, #222, #111);
  background-image: linear-gradient(to bottom, #222, #111);
  background-repeat: repeat-x;*/

  z-index: 100;
}

.content {
  padding-top: 50px;
  /*padding-right: 30px;
  padding-left: 30px;*/
}

#right {
  width: 22%;
  float: right;
  position:relative;
  margin-right: 0;
  text-align:right;
}

.center {
  width: 60%;
  position:relative;
  float: left;
}

#left {
  width: 18%;
  margin-left: 0;
  position:relative;
  float: left;
}

button{
  cursor: pointer;
  vertical-align: middle;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999;
}

input,
textarea{
  width: 100%;
  height: 100%;
}

a {
  color: #00B7FF;
}


.nav-header {
  margin-left: 0;
  list-style: none;
}
