extends layout

block extra_css
  link(rel='stylesheet', href='/stylesheets/index.css')


block extra_header_content
  a(href="/sandbox") New Pad

block content
  div.container
    div.content
      div#left-index
        h1#index-title Code. Test. Share. Repeat.
        p CodeShare is an online collaborative IDE, for quick development and sharing of code snippets.

