extends layout

block extra_css
  link(rel='stylesheet', href='/stylesheets/index.css')


block content
  div.container
    div.content
      div#left-index
        h1#index-title Code. Test. Share. Repeat.
        p CodeShare is an online collaborative IDE, for quick development and sharing of code snippets.
        div.get-started
          a.button(href="/sandbox") Get Started!
          p Click the button above to go to a new editor.

      div#right-index
        iframe#presentation(src='/images/codeshare-lite.svg')
        p Want to know more about codeshare?
        a(href='/images/codeshare-full.svg') See the full presentation.


