doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    block extra_css
    -each script in scripts
      script(type='text/javascript', src= script)
  body
  div.header
    span.logo CodeShare
    block login
      if(user)
        #botaologout.header-contents
          a.button(href="/logout") Logout
        span#logged.header-contents
          | Logged as #{user.user}
      else
        #botaologin.header-contents
          a.button(href="/login") Login!
    block extra_header_content
  block content
