doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    block extra_css
    -each script in scripts
      script(type='text/javascript', src= script)
  body
  div.header
    span.logo
      a(href='/') CodeShare
    block login
      if(user)
        #botaologout.header-contents
          a(href="/logout") Logout
        span#logged.header-contents
          | Logged as &nbsp;
          a(href="/profile/#{user._id}") #{user.user}
      else
        #botaologin.header-contents
          a(href="/login") Login
    block extra_header_content
  block content
