doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    block extra_css
    -each script in scripts
      script(type='text/javascript', src= script)
  body
  div.header
    span.logo CodeShare
    block extra_header_content
    block login
      #botaologin
        a.button(href="/login") Login!
  block content
