extends layout

block login

block content
    #login-container
        form( method="post", action="/login" )#login-form
            h1 Hello!
            p.subheading Please Login To Your Account
            p#user-cg
            label
                | Username
            input(type="text", name="user", id='user-tf')
            p#pass-cg
            label
                | Password
            input(type="password", name="pass", id='pass-tf')
            button(type="submit")#btn-login.button
                | Sign in
            label#remember-me.checkbox Remember Me
                input(type="checkbox", checked='checked')
            hr
            div.btm-links
                //- a(href='#')#forgot-password Forgot Your Password?
                a(href='/signup')#create-account Create An Account
