extends layout

block content
  div.container
    div.content
      div.left
        div.title Talk to your codefriends here!
        input#name(type='text', maxlength='20', placeholder='Put your name here')
        textarea#chat(cols='50', rows ='30', readonly='readonly')
        textarea#message(cols='30', rows='2', readonly='yes', placeholder='Choose a name above so you can chat')
        button#send Send
      div.center
        div.title Type your code here!
        div.options
          button(name='execute')#exec-button Executar
          button(name='save')#save-button Save Code
          select#filetype
            each key, val in types
              option(value=val) #{key}
        div#coding-area
      div.right
        div.title Test your code here!
        h2 stdin
        textarea#input-area(cols='50', rows ='10')
        h2 stdout
        textarea#result-area(cols='50', rows ='10', readOnly=true)
  include includes/sandbox/chat.js.jade
  include includes/sandbox/editor.js.jade
  //- include includes/sandbox/share.js.jade
