script(type='text/javascript')
  $(document).ready(function(){
    $('#name').focusout(function(){
      if($('#name').val()){
        $('#message').removeAttr('readonly');
        $('#message').attr('placeholder','Type your message here');
      }
      else{
        $('#message').attr('readonly','yes');
        $('#message').attr('placeholder','Choose a name above so you can chat');
      }
    });
  });
