script(type='text/javascript')
  $(document).ready(function(){
    $('#name').focusout(function(){
      if($('#name').val()){
        $('#message').removeAttr('readonly');
        $('#message').attr('placeholder','Type your message here');
      }
      else{
        $('#message').attr('readonly','yes');
        $('#message').attr('placeholder','Choose a name above so you can chat');
      }
    });
    var chat = io.connect('#{chat_url}');
    chat.emit('connect',{id: '#{id}'});
    chat.on('count',function(data){});
    chat.on('message',function(data){
      var text = $('#chat').val();
      if(text){
        text+='\n';
      }
      $('#chat').val(text+data.message);
    });
    var logged = "#{user}";
    $('#send').click(function(){
      var user = $('#name').val();
      if(logged === ""){
         user = user + ' (not logged in)';
      }
      chat.emit('message',{
        id: '#{id}',
        user: user,
        content: $('#message').val()
      });
    });
  });
