script(type='text/javascript')
  $(document).ready(function(){
    var coding_area = document.getElementById('coding-area');
    sharejs.open('#{id}', 'text', function(error, doc){
      if (error) {
        console.log(error);
      } else {
        $('#coding-area').removeAttr('disabled');
        $('#coding-area').val('');
        doc.attach_textarea(coding_area);
      }
    });
  });
